---

influxdb_pem: |
  -----BEGIN PRIVATE KEY-----
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH  
  -----END PRIVATE KEY-----
  -----BEGIN CERTIFICATE-----
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH
  BLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAHBLAH  
  -----END CERTIFICATE-----


influxdb_password: S0m3S3cur3P4ssW0rd 

